body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: white;
}

h1{
  text-align: center;
}
.board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}
.tile{
  color: currentColor;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lb{
  border-left: 0.1em solid #0074a6;
}
.rb{
  border-right: 0.1em solid #0074a6;
}
.tb{
  border-top: 0.1em solid #0074a6;
}
.bb{
  border-bottom: 0.1em solid #0074a6;
}

.x-hover:hover::after{
  content: "X";
  opacity: 0.4;
}
.o-hover:hover::after{
  content: "O";
  opacity: 0.4;
} 

.strike{
  position: absolute;
  background-color: orange;
}

.strike-row-1{width: 100%;height: 4px;top: 15.5%;}
.strike-row-2{width: 100%;height: 4px;top: 49.5%;}
.strike-row-3{width: 100%;height: 4px;top: 83%;}

.strike-column-1{height: 100%;width: 4px;left: 15.5%;}
.strike-column-2{height: 100%;width: 4px;left: 49.4%;}
.strike-column-3{height: 100%;width: 4px;left: 83.18%;}

.strike-diagonal-1{width: 90%;height: 4px;top: 50%; left: 5%; transform: skewY(45deg);}
.strike-diagonal-2{width: 90%;height: 4px;top: 50%; left: 5%; transform: skewY(-45deg);}

.game-over{
  text-align: center;
  border: #5468ff 8px dotted;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5em;
}
.reset-button{
  margin-top: 50px;
  padding: 20px;
  background-color: #0074a6;
  color: white;
  width: 100%;
  font-size: 1.5rem;
}